@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.dropdown {
  label {
    display: block;
    padding: 0 0 8px 0;
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  .dropdownWrap {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: var(--Radius-8, 8px);
      padding: 1px;
      background: linear-gradient(
        97.52deg,
        rgba(255, 255, 255, 0.2) 0.15%,
        rgba(255, 255, 255, 0.04) 11.93%
      );
      -webkit-mask:
        linear-gradient(#fff 0 0) content-box,
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
      pointer-events: none;
      transition: all 0.3s ease;
      z-index: 2;
    }

    &:focus-within::before {
      background: linear-gradient(
        97.52deg,
        rgba(255, 255, 255, 0.4) 0.15%,
        rgba(255, 255, 255, 0.1) 11.93%
      );
    }
  }
}
