@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

::placeholder,
textarea,
body,
a,
button {
  font-family: var(--font-manrope);
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.font {
  font-family: var(--font-red-hat-display);
}
