@use '../../scss/main.scss' as *;
@use '../../scss/breakpoints/breakpoints.scss' as *;

.flexbox {
  display: flex;
  background: #030f0f;
  height: 100dvh;

  .items {
    width: 50%;

    &:first-child {
      padding: 40px;
      display: flex;
      justify-content: center;
      position: relative;
      align-items: center;
      height: 100dvh;

      .box {
        max-width: 396px;
        width: 100%;

        .title {
          padding: 0 0 20px 0;
        }

        .inputgrid {
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;
          padding: 0 0 20px 0;
        }

        .error {
          color: #ff7b7b;
          font-size: 13px;
          margin: 4px 0 0 0;
          text-align: left;
        }

        .bottomText {
          padding: 20px 0 0 0;

          p {
            color: #8e8e8e;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;
            letter-spacing: -0.176px;

            a {
              color: #dbe64c;
              cursor: pointer;
              font-weight: 600;
            }
          }
        }

        .otpcode {
          display: flex;
          padding: 0 0 20px 0;
          align-items: center;
          gap: 12px;
          justify-content: center;

          .input {
            position: relative;
            max-width: 60px;

            input {
              width: 60px;
              border: 1px solid transparent;
              background: rgba(255, 255, 255, 0.04);
              border-radius: var(--Radius-8, 8px);
              color: #fafafa;
              font-size: 14px;
              height: 70px;
              text-align: center;
              padding: 0 5px;
              font-weight: 500;
              outline: none;
              position: relative;
              z-index: 1;
              transition: all 0.3s ease;

              &::placeholder {
                color: #8e8e8e;
              }
            }

            &::before {
              content: '';
              position: absolute;
              inset: 0;
              border-radius: var(--Radius-8, 8px);
              padding: 1px;
              background: linear-gradient(
                97.52deg,
                rgba(255, 255, 255, 0.2) 0.15%,
                rgba(255, 255, 255, 0.04) 11.93%
              );
              -webkit-mask:
                linear-gradient(#fff 0 0) content-box,
                linear-gradient(#fff 0 0);
              -webkit-mask-composite: xor;
              mask-composite: exclude;
              pointer-events: none;
              transition: all 0.3s ease;
            }

            &:focus-within::before {
              background: linear-gradient(
                97.52deg,
                rgba(255, 255, 255, 0.4) 0.15%,
                rgba(255, 255, 255, 0.1) 11.93%
              );
            }
          }
        }

        h1 {
          color: #fafafa;
          margin: 0 0 12px 0;
          font-size: 28px;
          font-style: normal;
          font-weight: 700;
          text-align: center;
          font-family: var(--font-red-hat-display);
          line-height: 110%;
        }

        p {
          color: #8e8e8e;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          max-width: 260px;
          margin: 0 auto;
          line-height: 150%;
          letter-spacing: -0.176px;
        }
        span {
          color: #ef4444;
          text-align: start;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 150%;
          letter-spacing: -0.176px;
        }
      }
    }
  }
}
